<app-split-container>
  <ng-container left>
    <div class="header">
      <div class="header-title-hamburger">
        <div class="hamburger">
          <img src="assets/Hamburger.svg" alt="menu"/>
        </div>
        <h1>The Aris Machine</h1>

      </div>
      <p [innerHTML]="level.description"></p>
    </div>
    <div class="editor">
      <code-editor [initialContent]="content" (onContentChangeEmitter)="updateContent($event)"></code-editor>
    </div>
  </ng-container>

  <ng-container right>
    <app-machine-screen></app-machine-screen>
  </ng-container>
</app-split-container>
