.header {
  color: white;
  padding: 8px 16px;
}

.header-title-back-icon {
  display: flex;
  gap: 8px;
  margin-bottom: 8px;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
}

.editor {
  flex-grow: 1;
  padding: 1px;
}
