.levels {
  width: 300px;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  justify-content: center;
}

.levels > .completed {
  box-shadow: none;
}

.level-button {
  padding: 4px 0 !important;
  border-radius: 100px;
  width: 60px;
}
