<div class="control-panel-container">
  <div class="control-panel">
    <button [disabled]="!showStop()" class="btn-stop" (click)="stop()"><i class="bi bi-stop-fill"></i></button>
    <button [disabled]="!showStart()" class="btn-start" (click)="start()"><i class="bi bi-play-fill"></i></button>
    <button [disabled]="false" class="btn-enter" (click)="singleStep()"><i class="bi bi-arrow-return-right"></i></button>

    <button (click)="nextSpeedUpFactor()" class="btn-fast-forward"><i class="bi bi-fast-forward-fill"></i><p>{{ speedUpFactor }}x</p></button>
  </div>
</div>
